.menu-item {
    width: calc(100% - 20px);
    max-width: 500px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-name {
    font-size: 1.2em;
    font-weight: bold;
    max-width: 80%;
}
.item-price {
    font-family: 'Arial';
    font-style: italic;
    font-size: .8em;
}
.menu-description {
    font-size: .8em;
}