.menu-item {
    width: calc(100% - 20px);
    max-width: 800px;
    min-height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
}
.menu-item:has(.emphasis) {
    margin-top: 20px;
}
.emphasis {
    position: absolute;
    transform: rotate(-20deg);
    transform-origin: center center;
    top: -20px;
    left: -15px;
    font-weight: bold;
    color: #ff72c9;
}
.menu-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-name {
    font-size: var(--text-size-b);
    font-weight: bold;
    max-width: 80%;
}
.item-price {
    font-family: 'Arial';
    font-style: italic;
    font-size: var(--text-size-b);
}
.menu-description {
    font-size: var(--text-size-m)*.7;
    margin-left: 5px;
}
.menu-row {
    display: flex;
    align-items: center;
}
.menu-notes {
    flex: 1;
    padding-left: 10px;
    color: var(--color-accent);
}
.menu-icons {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 100%;
    padding: 3px 3px 3px 3px;
    background: rgb(168, 168, 168);
    border-radius: 15px;
}
.menu-icon {
    height: 20px;
    width: 20px;
}
.menu-note {
    font-size: var(--text-size-s);
}