.hamburger {
    display: none;
}

.tab {
    user-select: none;
    border-radius: 5px;
    transition: all .2s;
    cursor: pointer;
    color: var(--text);
    text-decoration: none;
    color: var(--color-text-primary);
    font-size: var(--text-size-m);
}

.tab:hover {
    background: var(--accent-light);
}

.navbar {
    height: 100px;
    width: 100%;
    background: var(--accent);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: var(--color-bg-secondary);
}

.nav-links {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 100px);
    height: 100%;
    max-width: 1000px;
    align-items: center;
}

@media (max-width: 768px) {
    .navbar {
        justify-content: flex-start;
        padding-left: 20px;
        height: 60px;
    }
    .hamburger {
        display: block;
        height: 36px;
        width: 36px;
        display: flex;
        padding: 0px;
        margin-left: 5px;
        border: none;
        z-index: 5;
    }

    .nav-links.open {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 10;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.3s ease;
        z-index: 10;
        transform: translateX(0);
        display: block;
        display: flex;
        margin-top: 60px;
        margin-left: 20px;
        gap: .5em;
        font-size: var(--text-size-b);
        justify-content: flex-start;
        align-items: flex-start;
    }
    .nav-links {
        display: none;
    }

    .background-image {
        transition: .2s;
        transform: translateX(-100%);
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 0;
        background: url('../../public/bg1.jpg');
        background-size: cover;
        filter: brightness(.5) blur(2px);
    }
    .background-image.visible {
        transform: translateX(0) scale(1.1);
        transition: .2s;
    }
    .tab {
        color: var(--color-bg-primary);
    }
}
