.quickNav {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    backdrop-filter: blur(3px);
    background: linear-gradient(
        var(--color-bg-secondary),
        var(--color-bg-primary)
    );
    z-index: 1;
}
.row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.indicator {
    padding: 5px;
    display: flex;
    gap: 5px;
}
.chip {
    width: 100%;
    height: 5px;
    background: var(--color-accent-light);
    border-radius: 5px;
    transition: all .2s;
}
.active {
    background-color: var(--color-accent);
    transition: all .2s;
}
.quickNav .section-title {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin: 0px;
    margin-bottom: 10px;
    padding: 5px 10px 5px 10px;
    border-radius: 10px;
    min-width: 50%;
}
.quickNav .title {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-accent);
}
.quickNav .detail {
    font-size: .8em;
    font-style: italic;
    display: flex;
    align-items: flex-end;
    padding-bottom: 5px;
    color:#B8743A;
}
.quickNav button {
    height: 24px;
    width: 24px;
    border: none;
    display: flex;
    align-items: center;
}